---
layout: defaut
title:合作伙伴
---
{% include header.htm %}

<div style="width: 1033px;margin-left:auto;margin-right:auto;">
<div data-am-widget="intro" class="am-intro am-cf am-intro-default am-no-layout">
  <div class="am-intro-hd">
      <h2 class="am-intro-title">合作伙伴</h2>
  </div>
  <div class="am-g am-intro-bd" style="width:auto;background-color: rgb(226, 226, 226);">
    <div class="am-intro-right am-u-sm-7" style="width:auto;background-color: rgb(226, 226, 226);">
   <table width="90%" class="table" > 
      
<th rowspan=10>合作伙伴单位</th>
<tr>
<td>中国建筑</td>
<td>第一工程局</td>
<td>中国建筑</td>
<td>第二工程局</td>
<td>中国建筑</td>
<td>第三工程局</td>
</tr>
<tr>
<td>中国建筑</td>
<td>第四工程局</td>
<td>中国建筑</td>
<td>第八工程局</td>
<td>中铁六局</td>
<td>中铁三局</td>
</tr>
<tr>
<td>中铁十二局</td>
<td>中铁十七局</td>
<td>山西建工</td>
<td>山西宏图</td>
<td>山西诚泰</td>
<td>河南天河</td>
</tr>
<tr>
<td>河南盛达</td>
<td>河南华盛</td>
<td>林州二建</td>
<td>中泽建工</td>
<td>山西一建</td>
<td>山西二建</td>
</tr>
<tr>
<td>山西三建</td>
<td>山西四建</td>
<td>山西五建</td>
<td>山西六建</td>
<td>山西八建</td>
<td>太原建工</td>
</tr>
<tr>
<td>太原一建</td>
<td>河南广泰</td>
<td>江苏江中</td>
<td>江苏郡宇</td>
<td>江苏一建</td>
<td>江苏天宇</td>
</tr>
<tr>
<td>江苏苏中</td>
<td>南通二建</td>
<td>南通六建</td>
<td>南通常青</td>
<td>浙江海纳</td>
<td>浙江海天</td>
</tr>
<tr>
<td>绿地建设</td>
<td>浙江广厦</td>
<td>山西晋联</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr><td colspan="6">等300余个合作伙伴</td></tr>
    
</table>

    </div>
  </div>
</div>

<br>

  
{% include footer.htm %}
