---
layout: defaut
title:合作伙伴
---
{% include header.htm %}
<div style="width: 1033px;margin-left:auto;margin-right:auto;">
<div data-am-widget="intro" class="am-intro am-cf am-intro-default am-no-layout">
  <div class="am-intro-hd">
      <h2 class="am-intro-title">企业业绩</h2>
  </div>
  <div class="am-g am-intro-bd" style="width:auto;background-color: rgb(226, 226, 226);">
    <div class="am-intro-right am-u-sm-7" style="width:auto;background-color: rgb(226, 226, 226);">
   <table width="90%" class="table" > 
      
      <th rowspan=9>太原业绩</th>
<tr>
<td>山西大医院</td>
<td>山西省公安厅</td>
<td>山西省体育中心</td>
<td>太原南站</td>
<td>山西省科技馆</td>
<td>太原市监狱管理局办公楼</td>
</tr>
<tr>
<td>太原铁路局白龙苑</td>
<td>凯宾斯基酒店</td>
<td>万达广场</td>
<td>星河湾</td>
<td>富力城</td>
<td>万国城MOMA</td>
</tr>
<tr>
<td>龙城花园</td>
<td>德祥六院</td>
<td>柳溪花园</td>
<td>金虎物流中心</td>
<td>绿地世纪城</td>
<td>西吴清枫华景小区</td>
</tr>
<tr>
<td>丽景苑</td>
<td>汾河西岸</td>
<td>胜景天地</td>
<td>中环城</td>
<td>千禧学府苑</td>
<td>晋机东风小区</td>
</tr>
<tr>
<td>西花苑</td>
<td>天朗美域</td>
<td>圣湖观澜国际</td>
<td>荣泰花园</td>
<td>银海水韵</td>
<td>十二院城</td>
</tr>
<tr>
<td>恒大绿洲</td>
<td>坤泽十里城</td>
<td>半山国际</td>
<td>奥林百合中心</td>
<td>双喜城</td>
<td>易城</td>
</tr>
<tr>
<td>紫荆假日</td>
<td>新兴国际文教城</td>
<td>和泰花园</td>
<td>东方明珠太原湖滨广场</td>

<td></td>
<td></td></tr>
    <td colspan="6">等600余个工程项目</td>
</table>
<br>

   <table width="90%" class="table" > 
      
<th rowspan=7>晋中业绩</th>
<tr>
<td>太原理工大学新校区</td>
<td>山西医科大学新校区</td>
<td>太谷农大信息学院新校区</td>
<td>晋中学院新校区</td>
<td>晋中市公安局</td>
<td>乔家大院风俗街</td>
</tr>
<tr>
<td>太谷人民医院</td>
<td>三晋国际汽配城</td>
<td>龙湖国际</td>
<td>凤凰城</td>
<td>金潞苑</td>
<td>书林世家</td>
</tr>
<tr>
<td>银海心悦</td>
<td>蕴华小区</td>
<td>上东庭院</td>
<td>领秀铭筑</td>
<td>忻州国土局</td>
<td>忻州卢野医院</td>
</tr>
<tr>
<td>河曲检察院办公楼</td>
<td>忻州世纪花园</td>
<td>忻州开莱小区</td>
<td>忻州十中</td>
<td>河曲法院办公楼</td>
<td>忻州军分小区</td>
</tr>
<tr>
<td>忻州和平中学</td>
<td>河曲人民医院</td>
<td>岢岚卫星发射中心</td>
<td>忻州兴达苑</td>
<td></td>
<td></td>
</tr>
<tr><td colspan="6">等近百个大中型工程</td>
    </tr>




</table>
<br>
   <table width="90%" class="table" > 
      
<th rowspan=10>忻州业绩</th>
<tr>
<td>忻州国土局</td>
<td>忻州卢野医院</td>
<td>河曲检察院办公楼</td>
<td>忻州世纪花园</td>
<td>忻州开莱小区</td>
<td>忻州十中</td>
</tr>
<tr>
<td>河曲法院办公楼</td>
<td>忻州军分小区</td>
<td>忻州和平中学</td>
<td>河曲人民医院</td>
<td>岢岚卫星发射中心</td>
<td>忻州兴达苑</td>
</tr>

    

</table>

    </div>
  </div>
</div>

<br>

  
{% include footer.htm %}
