CTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>太原市鹏飞加气混凝土厂</title>
<meta name="description" content="太原市鹏飞加气混凝土厂">
<meta name="keywords" content="太原市鹏飞加气混凝土厂">
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script charset="utf-8" src="./js/v.js"></script>
<script type="text/javascript" src="./js/lrtk.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
<script type="text/javascript" src="assets/js/amazeui.min.js"></script>
<link rel="stylesheet" type="text/css" href="./css/main.css">
<script type="text/javascript" charset="UTF-8" src="./js/bsl.js"></script>
<script type="text/javascript" charset="UTF-8" src="./js/main.js"></script>
<link rel="stylesheet" href="assets/css/amazeui.css"/>
<link href="./css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="./css/fix.css">
<link type="text/css" rel="stylesheet" href="./css/m-webim-lite.css">
<script type="text/javascript" src="./js/m-webim-lite.js" charset="utf-8"></script>
</head>

<!-- <header class="am-topbar am-topbar-fixed-top">
  <div class="am-container">
	  <h1 class="am-topbar-brand">
			<a href="#"style="font-size:14pt;font-weight:bold;color:rgb(0, 102, 255)">太原市鹏飞加气混凝土厂</a>
			    </h1>
					<div class="am-collapse am-topbar-collapse" id="collapse-head">
						  <ul class="am-nav am-nav-pills am-topbar-nav">
								 <div style="width:50px;float:left;height:1px;"></div>
										<li style="font-size:12pt;font-weight:bold"><a href="index.htm">首 页</a></li>
											   <li style="font-size:12pt;font-weight:bold"><a href="cpzs.htm">产品展示</a></li>
													  <li style="font-size:12pt;font-weight:bold"><a href="cfcm.htm">厂房厂貌</a></li>
															 <li style="font-size:12pt;font-weight:bold"><a href="qyyj.htm">企业业绩</a></li>
																	<li style="font-size:12pt;font-weight:bold"><a href="yxwl.htm">营销网络</a></li>
																		   <li style="font-size:12pt;font-weight:bold"><a href="hzhb.htm">合作伙伴</a></li>
																				  <li style="font-size:12pt;font-weight:bold"><a href="qyzp.htm">企业招聘</a></li>
																						 <li style="font-size:12pt;font-weight:bold"><a href="lxwm.htm">联系我们</a></li>
																						       </ul>
																							       </div>
																								     </div>
																									 </header> -->
<body>
<div class="wrapperCo">
	<div class="header wrapper">
		<div id="logo" ><span class="nav">太原市鹏飞加气混凝土厂</span></div>
		<div class="toptel"></div>
	</div>
	<!--headerEnd-->
	<div class="mainNavCo">
		<div class="mainNav">
			        <ul>
						<li><a href="index.htm">首 页</a></li>
						<li><a href="cpzs.htm">产品展示</a></li>
						<li><a href="cfcm.htm">厂房厂貌</a></li>
						<li><a href="yxwl.htm">企业业绩</a></li>
						<li><a href="qyyj.htm">营销网络</a></li>
						<li><a href="hzhb.htm">合作伙伴</a></li>
						<li><a href="qyzp.htm">企业招聘</a></li>
						<li><a href="lxwm.htm">联系我们</a></li>
						       </ul>
							     </div>
								 <div class="clear"></div>
							 </div>
						 </div>
						 
						 <div style="margin-left:auto;margin-right:auto;position:relative;width:1033px">
							 <div class="banner">
								 <div class="focus">
									 <ul class="rslides f426x240 rslides1" style="max-width:1032px;">
										 <li id="rslides1_s0" class="" style="float: none; position: absolute; display: none;"><a href="#" target="_blank"><img src="./img/01.png"></a></li>
										 <li id="rslides1_s1" class="rslides1_on" style="display: list-item; float: left; position: relative;"><a href="#" target="_blank"><img src="./img/02.png"></a></li>
										         </ul>
												 <a href="#" class="rslides_nav rslides1_nav prev">Previous</a>
												 <a href="#" class="rslides_nav rslides1_nav next">Next</a>
												 <a href="#" class="rslides_nav rslides1_nav prev">Previous</a>
												 <a href="#" class="rslides_nav rslides1_nav next">Next</a>
												      </div>
														</div>
													</div>
